doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(action="/", method="post")
            input(type="hidden" name="merchant" value=`${merchant_id}`)
            input(type="hidden" name="amount" value=`${data.amount}`)
            input(type="hidden" name="account[id]" value=`${data.account}`)
            input(type="submit")